@model IEnumerable<evtol_RideShare.Models.Pilot>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th></th>
        </tr>
    </thead>

</table>

<img src=" ~ /lib/drone_yellow_cab_flying_to_pick_up_passenger.png" />