@{
    ViewData["Title"] = "Home Page";
}

<button type="button" name="formBtn">
    Pilot Sign Up
</button>

<button type="button" name="formBtn">
    Passenger Sign Up
</button>

<a asp-action="" asp-controller="HomeController.cs">
    <button>Home Test Button</button>
    </a>